body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 20px;
}

#rock{
    color: black;
    background-color: white;
}
#paper{
    color: white;
    background-color: black;
}
#scissors{
    color: grey;
    background-color: aliceblue;
}

.userS{
    color: blue;
}
.computerS{
    color: red;
}